WFP_BASE_URL=https://app.workflowpro.com
WFP_API_URL=https://api.workflowpro.com/v1
WFP_TEST_PASSWORD=changeme
WFP_TEST_OTP=000000
WFP_TOKEN_COMPANY1=changeme
WFP_TOKEN_COMPANY2=changeme
BROWSERSTACK_USERNAME=changeme
BROWSERSTACK_ACCESS_KEY=changeme
CI_BUILD_ID=local
